{% layout 'admin-layout' %}
{% block content %}
  <div class="wr">
    <a class="btn muted" href="/">
      <i class="fal fa-arrow-left"></i>
      Back home
    </a>
    <div class="content">
      <div class="pw-block">
        <i class="fal fa-lock" aria-hidden="true"></i>
        <form action="/admin/login" method="POST">
          <label for="username" class="visually-hidden">Username</label>
          <input type="text" name="username" placeholder="Username">

          <label for="password" class="visually-hidden">Password</label>
          <input type="password" name="password" placeholder="Password">

          <button type="submit" name="submit" title="Login">
            <i class="fal fa-arrow-circle-right"></i>
            <span class="visually-hidden">Login</span>
          </button>
        </form>
      </div>
    </div>
    <p class="copyright">&copy; {{ site.copyright }}</p>
  </div>
{% endblock %}