{% layout 'admin-layout', route: 'dashboard' %}
{% block content %}
  <div class="wr">
    {% include 'includes/admin/page-title' %}
    <form id="new-challenge" class="card" action="/admin/new" method="POST" enctype="multipart/form-data">
      <div class="fieldset">
        <label for="image">Image</label>
        <input id="image" type="file" name="image" required>
      </div>
      <div class="flex">
        <div class="fieldset">
          <label for="title">Title</label>
          <input id="title" type="text" name="title" required>
        </div>
        <div class="fieldset">
          <label for="author">Author</label>
          <input id="author" type="text" name="author" required>
        </div>
      </div>
      <div class="fieldset">
        <label for="url">Project URL</label>
        <input id="url" type="url" name="url" required>
      </div>
      <div class="flex">
        <div class="fieldset">
          <label for="season">Season</label>
          <input id="season" type="text" name="season" required>
          <p class="helper"><b>12</b> challenges left in season-08</p>
        </div>
        <div class="fieldset">
          <label for="type">Real or 3D</label>
          <select name="type" id="type">
            <option value="real">Real</option>
            <option value="3D">3D</option>
          </select>
        </div>
      </div>
      <div class="flex">
        <div class="fieldset">
          <label for="date_publish">Date open</label>
          <input id="date_publish" type="datetime-local" name="date_publish" required>
          <script>
            const x = document.getElementById('date_publish');
            function nextWednesday() {
                var today = new Date();
                var todayN = today.getDay();
                var offset = (todayN < 3 ? 3 : 10) - todayN; // <--- the most important part
                today.setDate(today.getDate() + offset);
                return today;
            }
            Date.prototype.toDateInputValue = (function() {
              let local = new Date(this);
              local.setHours('07');
              local.setMinutes('00');
              return local.toJSON().slice(0,16);
            });
            x.value = new Date(nextWednesday()).toDateInputValue();
          </script>
        </div>
        <div class="fieldset">
          <label for="date_close">Date close</label>
          <input id="date_close" type="datetime-local" name="date_close" required>
          <script>
            const y = document.getElementById('date_close');
            function nextWednesday() {
              var today = new Date();
              var todayN = today.getDay();
              var offset = (todayN < 3 ? 3 : 10) - todayN; // <--- the most important part
              today.setDate(today.getDate() + offset);
              return today;
            }
            Date.prototype.toDateInputValue = (function() {
              let local = new Date(this);
              local.setHours('12');
              local.setMinutes('00');
              return local.toJSON().slice(0,16);
            });
            y.value = new Date(nextWednesday()).toDateInputValue();
          </script>
        </div>
      </div>
      <div class="fieldset">
        <label for="description">Description</label>
        <textarea id="description" name="description" required></textarea>
      </div>
      <div class="fieldset flex">
        <input id="outlet" type="checkbox" name="outlet">
        <label for="outlet">This challenge has an outlet</label>
      </div>
      
      <button type="submit" for="new-challenge" class="btn btn__primary">Add new challenge</button>
    </form>
  </div>
{% endblock %}