{% layout 'admin-layout', route: 'dashboard' %}
{% block content %}
  <div class="wr">
    {% include 'includes/admin/page-title' %}
    <form class="card" action="/admin/new" method="POST" enctype="multipart/form-data">
      <div class="fieldset">
        <label for="image">Image</label>
        <input id="image" type="file" name="image" required>
      </div>
      <div class="flex">
        <div class="fieldset">
          <label for="title">Title</label>
          <input id="title" type="text" name="title" required>
        </div>
        <div class="fieldset">
          <label for="author">Author</label>
          <input id="author" type="text" name="author" required>
        </div>
      </div>
      <div class="flex">
        <div class="fieldset">
          <label for="season">Season</label>
          <input id="season" type="text" name="season" required>
          <p class="helper"><b>12</b> challenges left in season-08</p>
        </div>
        <div class="fieldset">
          <label for="type">Real or 3D</label>
          <select name="type" id="type">
            <option value="real">Real</option>
            <option value="3D">3D</option>
          </select>
        </div>
      </div>
      <div class="flex">
        <div class="fieldset">
          <label for="date_open">Date open</label>
          <input id="date_open" type="datetime-local" name="date_open" required>
        </div>
        <div class="fieldset">
          <label for="date_close">Date close</label>
          <input id="date_close" type="datetime-local" name="date_close" required>
        </div>
      </div>
      <div class="fieldset">
        <label for="description">Description</label>
        <textarea id="description" name="description" required></textarea>
      </div>
      <div class="fieldset flex">
        <input id="outlet" type="checkbox" name="outlet">
        <label for="outlet">This challenge has an outlet</label>
      </div>
      
      <input type="submit" class="btn btn__primary" value="Add new challenge">
    </form>
  </div>
{% endblock %}