<div class="taskbar section flex between a-center">
  <div class="tabs flex">
    <button class="btn slim start">
      <p class="flex a-center">
        <img src="/img/icons/start.png" height="20px">
        Start
      </p>
    </button>
    {% for app in site.applications %}
      {% if app.open %}
        <button class="btn slim {% if app.title == 'Leaderboard' %}active{% endif %}">
          <p class="flex a-center">
            <img src="/img/icons/{{ app.icon }}.png" height="20px">
            {{ app.title }}
          </p>
        </button>
      {% endif %}
    {% endfor %}
  </div>
  <div class="date flex a-center">
    <p id="date">April 20, 2020 4:20PM</p>
    <div class="divider"></div>
    <p>
      <a class="dark" href="/admin/">
        <i class="fad fa-lock-alt"></i>
      </a>
    </p>
    <script>
      var dateDisplay = document.getElementById("date");
      function refreshTime() {
        let date = new Date();
        let dateString = date.toLocaleString("en-US", {weekday: 'short', year: 'numeric', month: 'short', day: 'numeric', hour: '2-digit', minute: '2-digit', timeZone: Intl.DateTimeFormat().resolvedOptions().timeZone});
        let dateFormatted = dateString.replaceAll(',', ' ');
        dateDisplay.innerText = dateFormatted;
      }
      refreshTime()
      setInterval(refreshTime, 1000);
    </script>
  </div>
</div>