<html>
  {% include 'includes/head', route: 'admin' %}
  <body>
    {% include 'includes/admin/toast' %}
    <div class="main">
      {% unless route == 'login' %}
        {% include 'includes/admin/navigation' %}
      {% endunless %}
      
      {% block content %}{% endblock %}
    </div>
    <script>
      if (document.querySelector('form')) {
        document.querySelectorAll('form').forEach(function(x) {
          x.addEventListener('submit', function() {
            document.querySelector('button[type="submit"]').classList.add('btn__loading')
          })
        })
      }
    </script>
  </body>
</html>