<html>
  {% include 'includes/head', route: 'admin' %}
  <body>
    {% include 'includes/admin/toast' %}
    <div class="main">
      {% unless route == 'login' %}
        {% include 'includes/admin/navigation' %}
      {% endunless %}
      
      {% block content %}{% endblock %}
    </div>
  </body>
</html>