<html>
  {% include 'includes/head' %}
  <body>
    {% include 'includes/desktop' %}
    {% include 'includes/taskbar' %}
    
    {% block content %}{% endblock %}
    
    {% include 'includes/scripts' %}
  </body>
</html>