@font-face {
    font-family: 'MS Serif';
    src: url('/fonts/ms_sans_serif-webfont.woff2') format('woff2'),
         url('/fonts/ms_sans_serif-webfont.woff') format('woff');
    font-weight: 400;
}
@font-face {
	font-family: 'MS Serif';
	src: url('/fonts/ms_sans_serif-webfont_bold.woff2') format('woff2'),
			 url('/fonts/ms_sans_serif-webfont_bold.woff') format('woff');
	font-weight: 500;
	text-rendering: optimizeLegibility;
}
::selection {
	background:#010080;
	color:#fff;
}
:root {
	--ui-bg: #C0C0C0;
	--ui-inner-s:rgba(255,255,255,1);
	--ui-outer-b-1:#B2B3B2;
	--ui-outer-b-2:#040000;
	--ui-outer-b-3:#888888;
	--real:#1CFFB0;
	--threed:#ff1c4e;
	--ui-bg-vip:#505050;
	--ui-title-vip:#2f2f2f;
	--text-vip:gold;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
* {
	box-sizing: border-box;
}
body {
	margin:0;
	padding:0;
	font-family: 'MS Serif', monospace;
	background: url('/img/wallpapers/wallpaper-2.gif');
	cursor: url(/img/cur/cursor.gif), auto;
	font-size: 13px;
	padding-bottom: 60px;
}
body.vip {
	background:#000;
}
body.loading,
body.loading a,
body.loading button {
	cursor: url(/img/cur/loading.gif) 10 10, auto !important;
}
body *::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  background: none;
}

body *::-webkit-scrollbar-thumb, body *::-webkit-scrollbar-button {
  width: 16px;
  height: 16px;
  background: silver;
  box-shadow: inset 1px 1px #dfdfdf, inset -1px -1px gray;
  border: 1px solid;
  border-color: silver #000 #000 silver;
}

body *::-webkit-scrollbar-track {
  image-rendering: optimizeSpeed;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAyIDIiIHNoYXBlLXJlbmRlcmluZz0iY3Jpc3BFZGdlcyI+CjxtZXRhZGF0YT5NYWRlIHdpdGggUGl4ZWxzIHRvIFN2ZyBodHRwczovL2NvZGVwZW4uaW8vc2hzaGF3L3Blbi9YYnh2Tmo8L21ldGFkYXRhPgo8cGF0aCBzdHJva2U9IiNjMGMwYzAiIGQ9Ik0wIDBoMU0xIDFoMSIgLz4KPC9zdmc+");
  background-position: 0 0;
  background-repeat: repeat;
  background-size: 2px;
}
body *::-webkit-scrollbar-button {
  background-repeat: no-repeat;
  background-size: 16px;
}
body *::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTcgNWgxTTYgNmgzTTUgN2g1TTQgOGg3IiAvPgo8L3N2Zz4=");
}
body *::-webkit-scrollbar-button:single-button:vertical:increment {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTQgNWg3TTUgNmg1TTYgN2gzTTcgOGgxIiAvPgo8L3N2Zz4=");
}
body *::-webkit-scrollbar-button:single-button:horizontal:decrement {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTggM2gxTTcgNGgyTTYgNWgzTTUgNmg0TTYgN2gzTTcgOGgyTTggOWgxIiAvPgo8L3N2Zz4=");
}
body *::-webkit-scrollbar-button:single-button:horizontal:increment {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgLTAuNSAxNiAxNiIgc2hhcGUtcmVuZGVyaW5nPSJjcmlzcEVkZ2VzIj4KPG1ldGFkYXRhPk1hZGUgd2l0aCBQaXhlbHMgdG8gU3ZnIGh0dHBzOi8vY29kZXBlbi5pby9zaHNoYXcvcGVuL1hieHZOajwvbWV0YWRhdGE+CjxwYXRoIHN0cm9rZT0iIzAwMDAwMCIgZD0iTTYgM2gxTTYgNGgyTTYgNWgzTTYgNmg0TTYgN2gzTTYgOGgyTTYgOWgxIiAvPgo8L3N2Zz4=");
}
body *::-webkit-scrollbar-corner {
  background: silver;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
p {
	font-weight: 400;
}
h1,h2,h3,h4,b {
	font-weight: 700;
}
.container {
	margin-top:50px;
	margin-bottom:30px;
}
.flex {
	display: flex;
	flex-wrap: wrap;
}
.flex.between {
	justify-content: space-between;
}
.flex.a-center {
	align-items: center;
}
.flex.d-vertical {
	flex-direction: column;
}
a,
button {
	cursor: url(/img/cur/pointer.gif) 10 10, pointer;
}
a.btn,
button.btn {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
	position: relative;
	z-index: 2;
	color:#000;
	text-decoration: none;
	padding:10px;
	background:var(--ui-bg);
	border-width: 2px;
	border-style: solid;
	border-top-color: var(--ui-inner-s);
	border-left-color: var(--ui-inner-s);
	border-bottom-color: var(--ui-outer-b-2);
	border-right-color: var(--ui-outer-b-2);
	display: inline-block;
  width: fit-content;
	text-align: center;
  margin: 0;
	font-family: 'MS Serif', monospace;
	font-weight: 400;
}
a.btn.slim,
button.btn.slim {
	padding: 4px 40px 4px 4px;
}
a.btn.active,
button.btn.active {
	background:url('/img/cur/btn-active.jpg') #f3f4f4;
	border-top-color: var(--ui-outer-b-2);
	border-left-color: var(--ui-outer-b-2);
	border-bottom-color: var(--ui-inner-s);
	border-right-color: var(--ui-inner-s);
}
a.btn.active p,
button.btn.active p {
	font-weight: 500;
}
a.btn::after,
button.btn::after {
	content:"";
	height:80%;
	width:90%;
	position: absolute;
	top:50%;
	left:50%;
	pointer-events: none;
	border:1px dotted #808080;
	transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	display: none;
}
a.btn:active,
button.btn:active {
	border-color:var(--ui-outer-b-2);
}
a.btn:active::after,
button.btn:active::after {
	display: block;
}
a.btn.right {
	float:right;
}
a.btn.m-l {
	margin-left:25px;
}
a.btn.challenge_handler {
	width: 80px;
}
a.dark {
	color: var(--ui-title-vip);
}
.draggable {
	z-index: 98 !important;
}
.draggable.active {
	z-index: 99 !important;
}
.t-right {
	text-align: right;
}
.sidebar {
	height: 100%;
	width: 300px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #FCCB01;
	overflow-x: hidden;
	padding-top: 20px;
	text-align: center;
	border-right: 3px solid #c19c03;
	box-shadow: inset 3px 3px 0px rgba(255,255,255,.5);
}
body.vip .sidebar {
	background-color:var(--ui-title-vip);
	border-color:var(--ui-bg-vip);
	color:var(--text-vip);
}
body.vip .sidebar a {
	color:inherit;
}
.sidebar .logo {
	width:100%;
	text-align: center;
}
.sidebar .logo img {
	width:70%;
	margin-bottom:25px;
}
.sidebar .nav li {
	list-style-type: none;
	margin-bottom:25px;
}
.sidebar .nav li a {
	box-sizing: border-box;
	background:#000000;
	padding:15px;
	color:#fff;
	width: 80%;
	border-radius: 25px 0px 25px 0px;
	display: inline-block;
	box-shadow: inset 3px 4px 10px rgba(255,255,255,.6);
	border-right:3px solid #FD7000;
	border-bottom:3px solid #FD7000;
	text-decoration: none;
}
body.vip .sidebar .nav li a {
	border-color:var(--text-vip);
}
.sidebar .nav li a:hover {
	background:#202020;
	text-decoration: underline;
}
.sidebar .nav li a:active {
	background:#202020;
	box-shadow: inset 3px 4px 10px rgba(0,0,0,1);
}
.main {
	margin-left: 300px;
	padding: 0px 10px;
}
@media (max-width:961px)  {
	.sidebar {
		position:relative;
		width:100%;
		height:unset;
		border-bottom: 3px solid #c19c03;
	}
	.sidebar .logo {
		width:unset;
		width: unset;
	}
	.sidebar ul.nav {
		margin-bottom:0;
	}
	.sidebar .nav li {
		display:inline-block;
		width:45%;
	}
	.sidebar .nav li a {
		width:100%;
		padding:25px 0px;
    	vertical-align: middle;
    	align-items: center;
	}
	.sidebar .logo img {
		width:unset;
	}
	.sidebar p {
		margin-bottom:10px;
	}
	.main {
		margin-left:0;
	}
	.section#app-feature {
		display: none;
	}
	
}
.section {
	position: absolute;
	z-index: 1;
	background:var(--ui-bg);
	margin-bottom:25px;
	padding:3px;
	border-width: 2px;
	border-style: solid;
	border-top-color: var(--ui-outer-b-1);
	border-left-color: var(--ui-outer-b-1);
	border-bottom-color: var(--ui-outer-b-2);
	border-right-color: var(--ui-outer-b-2);
	box-shadow: inset 3px 3px 0px rgba(255,255,255,.5);
}
.section.window {
	min-width: 500px;
	min-height: 130px;
	top: 0;
	left: 0;
}
.section.window .statusbar {
	position: relative;
	bottom: 0;
	left: 0;
	margin: 4px 0;
	width: 100%;
	padding: 2px;
	border: 2px solid;
	border-top-color: var(--ui-outer-b-3);
	border-left-color: var(--ui-outer-b-3);
	border-bottom-color: var(--ui-inner-s);
	border-right-color: var(--ui-inner-s);
}
.section.window .statusbar p {
	margin: 0;
}
body.vip .section {
	background:var(--ui-bg-vip);
}
.section.draggable:active {
	cursor:url(/img/cur/move.gif), move;
}
.section .close {
	background: url('/img/cur/close.gif') no-repeat center var(--ui-bg);
	background-size:cover;
	height: 20px;
	width: 20px;
	position: absolute;
	right: 5px;
	top: 6px;
}
.section .wrapper {
	width: 100%;
	height: calc(100% - 30px);
	padding: 12px 4px;
}
.section .title {
	width:100%;
	background:#808080;
	color:#BFC1C1;
	padding:5px;
}
.section.active .title {
	background: #010080;
	color: #fff;
}
.section .title img {
	margin-right: 4px;
}
body.vip .section .title {
	background:var(--ui-title-vip);
	color:var(--text-vip);
}
.section .title p {
	margin:0;
}
.section .title span, .section .votes span {
	padding:5px;
}
.section .title span.success, .section .votes span.success {
	background:var(--real);
	color:#000;
}
.section .title span.fail, .section .votes span.fail {
	background:var(--threed);
	color:#fff;
}

.section.profile {
	position: fixed;
	width:350px;
}
.section.profile .avatar {
	background:url('/img/avatar.gif') no-repeat center;
	background-size:cover;
	display:inline-block;
	height:90px;
	width:100%;
	border-radius:60px;
}
.section.profile p.h-title {
	margin:0;
}
.section.profile p.h-stat {
	font-size:1.5em;
}
.section.profile p.username {
	font-size:1.3em;
	font-weight: 800;
	margin:0;
	margin-top:15px;
}
.section.profile p.lactive {
	color:rgba(0,0,0,.5);
}
.section.profile ul.stats {
	border-top:1px solid rgba(255,255,255,.3);
}
.section.profile ul.stats li {
	margin:0;
	list-style-type: none;
	padding:10px 0px;
	border-bottom:1px solid rgba(255,255,255,.3);
}
.section.profile ul.stats li span {
	float:right;
}
.content {
	background: #fff;
	border-width: 3px;
	border-style: solid;
	border-top-color: var(--ui-outer-b-2);
	border-left-color: var(--ui-outer-b-2);
	border-right-color:var(--ui-inner-s);
	border-bottom-color:var(--ui-inner-s);
	height: 100%;
	overflow: scroll;
}
.content.with_status {
	height: calc(100% - 22px);
}
ul.leader li a.profile-link:active {
	border:1px dotted #808080;
}
ul.leader li {
	list-style-type: none;
	padding:5px;
	margin-bottom: 0;
	border-bottom:1px solid rgba(0,0,0,.5);
	word-break: break-all;
}
ul.leader li p {
	margin-bottom:0;
}
ul.leader li .columns {
	border-left:1px solid rgba(0,0,0,.2);
}
ul.leader li .columns, ul.leader li .column {
	padding:5px;
}
ul.leader li .columns:first-child {
	border-left:none;	
}
ul.leader .column.one {
	word-break: keep-all;
}
canvas#confettiCanvas {
	pointer-events: none;
}

@media only screen and (max-width: 768px) {
	.nnom {
		display: none;
	}
	.leaderboard .column, .leaderboard .columns {
		width:25%;
	}
	.section.profile {
		top:50% !important;
		left:50% !important;
		transform:translate(-50%,-50%);
		-o-transform:translate(-50%,-50%);
		-ms-transform:translate(-50%,-50%);
		-moz-transform:translate(-50%,-50%);
		-webkit-transform:translate(-50%,-50%);
	}
	.section.profile .avatar {
		width:90px;
	}
	.section.profile .column.one-third {
		width:33%;
	}
}
@media only screen and (max-width: 549px) {
	.leaderboard .column, .leaderboard .columns {
		width:33%;
	}
}

.taskbar {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 0.5em;
	z-index: 999999999;
}
.taskbar p {
	margin: 0;
	padding: 0;
}
.taskbar .date {
	padding: 0.5em 1em;
	text-align: center;
	display: flex;
	border: 2px solid;
	border-top-color: var(--ui-outer-b-3);
	border-left-color: var(--ui-outer-b-3);
	border-bottom-color: var(--ui-inner-s);
	border-right-color: var(--ui-inner-s);
}
.taskbar .date .divider {
	height: 20px;
	width: 1px;
	background: var(--ui-outer-b-3);
	margin: 0 12px;
}
.taskbar .tabs button {
  margin-right: 2px;
}
.taskbar .tabs button img {
	margin-right: 4px;
}
.taskbar .tabs button.start {
	padding: 4px;
}
.taskbar .tabs button.start p {
	font-weight: 500;
}
.taskbar.tabs button:last-of-type {
  margin-right: 0;
}

.applications__list {
	position: relative;
	top: 12px;
	left: 12px;
	width: fit-content;
}
.application {
	width: fit-content;
	height: fit-content;
	align-items: center;
	background: unset;
	border: unset;
	-webkit-appearance: none;
  appearance: none;
  border-radius: 0;
	display: block;
	text-align: center;
  margin: 0;
	font-family: 'MS Serif', monospace;
	font-weight: 400;
	margin-bottom: 12px;
	border: 1px dotted transparent;
}
.application:active,
.application:focus {
	border-color: #000;
}
.application p {
	margin: 0;
}
.application__label {
	margin: 5px 0;
	padding: 2px 4px;
	background: rgba(0,0,0,0.8);
	color: #fff;
}
.application:active .application__label,
.application:focus .application__label {
	background: #010080;
}

.challenge {
	max-width: 500px;
}
.challenge img.challenge__image {
	width: 100%;
	max-height: 500px;
	object-fit: cover;
}