<div class="page_title flex between a-center">
  <h1>{{ page.title }}</h1>
  <a href="/admin/new" class="btn btn__primary btn__icon_text circle dark">
    <i class="fal fa-plus" aria-hidden="true"></i>
    New challenge
  </a>
</div>